{% extends 'main/base.html' %}

{% block title %}
About Us
{% endblock %}
{% block content %}
<div class="container" style="padding-bottom: 20px;">
    <h1 style="color: #dc3545;font-style:italic;text-decoration:underline;">About Us</h1>
    <br>
    <ul>
        <li>
            <p>
                MarryACatholic.com is a Roman Catholic website promoted and maintained by the Family Welfare Centre at Paalana Bhavana, Archdiocesan Pastoral Centre, #5, 2nd floor, Nandi Durga Road, 1st cross, Benson Town Post, Bangalore 560046, INDIA. (www.familywelfarecentre.com) under the patronage of His Grace Most Rev Dr. Peter Machado, the Archbishop of Bangalore diocese.
            </p>
        </li>
        <li>
            <p>
                To further serve the Catholic community according to its objectives (http://familywelfarecentre.com) the Family Welfare Centre through this website MarryACatholic.com, provides a centralized database of matrimonial profiles of Roman Catholic parishioners intending to enter the Sacrament of matrimony.
            </p>
        </li>
        <li>
            <p>
                It provides online facility to submit and view a greater volume of matrimonial profiles at ones own convenience and comfort.
            </p>
        </li>
        <li>
            <p>
                MarryACatholic.com ensures to the best of its ability to register only Roman Catholic parishioners, by way of a recommendation letter from their respective parish priests.
            </p>
        </li>
        <li>
            <p>
                It provides a platform for interaction and assistance that would help the youth to lead a value based Christian life and guide them into active Catholic faith. (Chats, innovative programs, counselling, SMS contests, bible related activities, career guidance etc.) 
            </p>
        </li>
        <li>
            <p>
                MarryACatholic.com will educate the youth on selection of life partners and preparations required for the sacrament of matrimony. (info about the sacraments and its importance, the family as the centre of the church, Matrimonial procedures to follow when you get married and other related info).
            </p>
        </li>
        <li>
            <p>
                MarryACatholic.com may also be a point for information required for wedding arrangements (florists, caterers, beauticians, wedding planners, jewellers, event managers etc).
            </p>
        </li>
        <li>
            <p>
                MarryACatholic.com connects and networks profiles from other diocese, states etc.
            </p>
        </li>
        <li>
            <p>
                The website administrator's are: The governing and committee of Family Welfare Centre, Staff and management appointed by the Family Welfare Centre.
            </p>
        </li>
        <li>
            <p>
                The website was initially launched by His Grace Most Rev Dr. Bernard Moras on 18th December 2008 as catholicmarry.net and revamped and renamed under His Grace Most Rev Dr. Peter Machado.
            </p>
        </li>
    </ul> 
    
</div>
{% endblock %}