{% extends 'main/base.html' %} {% block title %} Contact Us {% endblock %} {%
block header %} {% endblock %} {% block content %}
<div class="container" style="padding-bottom: 50px">
    <h1 style="color: #dc3545; font-style: italic; text-decoration: underline">
        Contact Us
    </h1>
    <br /><br />
    <div class="card">
        <div class="card-header">
            <h5 style="color: rgb(88, 88, 255); margin: 0px">
                FAMILY WELFARE CENTRE - A SCHOOL OF DEEPER HUMANITY
            </h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                Paalana Bhavana, Archdiocesan Pastoral Centre,
                <br />
                #5, Second Floor, Nandi Durg Road, 1st Cross, Benson Town Post,
                Bangalore 560046.
                <br />
                Phone: +91 82771 95603
            </p>
            <p class="card-text text-muted">
                Website:
                <a href="http://familywelfarecentre.com"
                    >http://familywelfarecentre.com</a
                >
                <br />
                Email:
                <a href="mailto:fwcbangalore@gmail.com"
                    >fwcbangalore@gmail.com</a
                >
            </p>
        </div>
    </div>
</div>
{% endblock %}
