<form action="" enctype="multipart/form-data">
    <p><label for="id_user">User:</label> <select name="user" required="" id="id_user">
  <option value="" selected="">---------</option>

  <option value="1">sairyo</option>

</select></p>
<p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="40" required="" id="id_first_name"></p>
<p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="40" required="" id="id_last_name"></p>
<p><label for="id_mother_tongue">Mother tongue:</label> <input type="text" name="mother_tongue" maxlength="20" required="" id="id_mother_tongue"></p>
<p><label for="id_gender">Gender:</label> <select name="gender" id="id_gender">
  <option value="Male">Male</option>

  <option value="Female">Female</option>

  <option value="Other" selected="">Other</option>
</select></p>
<p><label for="id_phone_number">Phone number:</label> <input type="tel" name="phone_number" maxlength="128" required="" id="id_phone_number"></p>
<p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="254" required="" id="id_email"></p>
<p><label for="id_addr_1">Address Line 1:</label> <textarea name="addr_1" cols="40" rows="10" required="" id="id_addr_1"></textarea></p>
<p><label for="id_addr_2">Address Line 2:</label> <textarea name="addr_2" cols="40" rows="10" id="id_addr_2"></textarea></p>
<p><label for="id_city">City:</label> <input type="text" name="city" maxlength="40" required="" id="id_city"></p>
<p><label for="id_state">State:</label> <input type="text" name="state" maxlength="40" required="" id="id_state"></p>
<p><label for="id_country">Country:</label> <input type="text" name="country" maxlength="40" required="" id="id_country"></p>
<p><label for="id_pin_code">Pin code:</label> <input type="text" name="pin_code" maxlength="8" required="" id="id_pin_code"></p>
<p><label for="id_education_level">Education:</label> <select name="education_level" id="id_education_level">
  <option value="Less Than 10th" selected="">Less Than 10th</option>

  <option value="10th">10th</option>

  <option value="12th">12th</option>

  <option value="Graduate">Graduate</option>

  <option value="Post Graduate">Post Graduate</option>

</select></p>
<p><label for="id_tenth_marks">10th Marks (in %):</label> <input type="number" name="tenth_marks" value="0" step="0.01" id="id_tenth_marks"></p>
<p><label for="id_hs_marks">12th Marks (in %):</label> <input type="number" name="hs_marks" value="0" step="0.01" id="id_hs_marks"></p>
<p><label for="id_grad_marks">Graduate Marks (in %):</label> <input type="number" name="grad_marks" value="0" step="0.01" id="id_grad_marks"></p>
<p><label for="id_post_grad_marks">Post Graduate Marks (in %):</label> <input type="number" name="post_grad_marks" value="0" step="0.01" id="id_post_grad_marks"></p>
<p><label for="id_tenth_school">School:</label> <input type="text" name="tenth_school" maxlength="100" id="id_tenth_school"></p>
<p><label for="id_hs_school">School/College:</label> <input type="text" name="hs_school" maxlength="100" id="id_hs_school"></p>
<p><label for="id_grad_school">College/University:</label> <input type="text" name="grad_school" maxlength="100" id="id_grad_school"></p>
<p><label for="id_post_grad_school">College/University:</label> <input type="text" name="post_grad_school" maxlength="100" id="id_post_grad_school"></p>
<p><label for="id_height">Height (Cms):</label> <input type="number" name="height" value="0.0" step="0.01" required="" id="id_height"></p>
<p><label for="id_weight">Weight (Kgs):</label> <input type="number" name="weight" value="0.0" step="0.01" required="" id="id_weight"></p>
<p><label for="id_date_of_birth">Date of Birth:</label> <input type="text" name="date_of_birth" value="2020-11-03" required="" id="id_date_of_birth"><input type="hidden" name="initial-date_of_birth" value="2020-11-03 13:41:37+00:00" id="initial-id_date_of_birth"></p>
<p><label for="id_place_of_birth">Place of Birth:</label> <input type="text" name="place_of_birth" maxlength="100" required="" id="id_place_of_birth"></p>
<p><label for="id_parish_baptized_at">Parish Baptized at:</label> <input type="text" name="parish_baptized_at" maxlength="100" required="" id="id_parish_baptized_at"></p>
<p><label for="id_present_parish">Present Parish:</label> <input type="text" name="present_parish" maxlength="100" required="" id="id_present_parish"></p>
<p><label for="id_diocese">Diocese:</label> <input type="text" name="diocese" maxlength="100" required="" id="id_diocese"></p>
<p><label for="id_rite">Rite:</label> <select name="rite" id="id_rite">
  <option value="Latin" selected="">Latin</option>

  <option value="Syro Malabar">Syro Malabar</option>

  <option value="Syro Malankara">Syro Malankara</option>

  <option value="Other">Other</option>

</select></p>
<p><label for="id_diet">Diet:</label> <select name="diet" id="id_diet">
  <option value="Vegetarian" selected="">Vegetarian</option>

  <option value="Non-vegetarian">Non-vegetarian</option>

</select></p>
<p><label for="id_smoke">Smoke:</label> <select name="smoke" id="id_smoke">
  <option value="No" selected="">No</option>

  <option value="Yes">Yes</option>

  <option value="Occasionally">Occasionally</option>

</select></p>
<p><label for="id_drink">Drink:</label> <select name="drink" id="id_drink">
  <option value="No" selected="">No</option>

  <option value="Yes">Yes</option>

  <option value="Occasionally">Occasionally</option>

</select></p>
<p><label for="id_occupation">Occupation:</label> <input type="text" name="occupation" maxlength="100" id="id_occupation"></p>
<p><label for="id_place_of_employment">Place of Employment:</label> <input type="text" name="place_of_employment" maxlength="100" id="id_place_of_employment"></p>
<p><label for="id_designation">Designation:</label> <input type="text" name="designation" maxlength="100" id="id_designation"></p>
<p><label for="id_years_of_employment">Years of Employment:</label> <input type="text" name="years_of_employment" maxlength="100" id="id_years_of_employment"></p>
<p><label for="id_annual_income">Annual Income:</label> <input type="text" name="annual_income" maxlength="100" id="id_annual_income"></p>
<p><label for="id_other_income">Any Other Income:</label> <input type="text" name="other_income" maxlength="100" id="id_other_income"></p>
<p><label for="id_about_yourself">More details about yourself:</label> <textarea name="about_yourself" cols="40" rows="10" id="id_about_yourself"></textarea></p>
<p><label for="id_marital_status">Marital Status:</label> <select name="marital_status" id="id_marital_status">
  <option value="Single" selected="">Single</option>

  <option value="Divorced">Divorced</option>

  <option value="Widowed">Widowed</option>

</select></p>
<p><label for="id_disability">Disability:</label> <select name="disability" id="id_disability">
  <option value="No" selected="">No</option>

  <option value="Yes">Yes</option>

</select></p>
<p><label for="id_disability_type">Disability Type:</label> <input type="text" name="disability_type" maxlength="40" id="id_disability_type"></p>
<p><label for="id_former_spouse_name_1">Former Spouse Name:</label> <input type="text" name="former_spouse_name_1" maxlength="100" id="id_former_spouse_name_1"></p>
<p><label for="id_marriage_date_1">Marriage Date:</label> <input type="text" name="marriage_date_1" value="1970-01-01" id="id_marriage_date_1"></p>
<p><label for="id_divorce_date">Divorce Date:</label> <input type="text" name="divorce_date" value="1970-01-01" id="id_divorce_date"></p>
<p><label for="id_marriage_annulment_date">Marriage Annulment Date:</label> <input type="text" name="marriage_annulment_date" value="1970-01-01" id="id_marriage_annulment_date"></p>
<p><label for="id_no_of_children_1">No. of children from this marriage (if any):</label> <input type="number" name="no_of_children_1" value="0" min="0" id="id_no_of_children_1"></p>
<p><label for="id_no_of_sons_1">No. of sons from this marriage (if any):</label> <input type="number" name="no_of_sons_1" value="0" min="0" id="id_no_of_sons_1"></p>
<p><label for="id_no_of_daughters_1">No. of daughters from this marriage (if any):</label> <input type="number" name="no_of_daughters_1" value="0" min="0" id="id_no_of_daughters_1"></p>
<p><label for="id_additional_details">Additional Details (optional):</label> <textarea name="additional_details" cols="40" rows="10" id="id_additional_details"></textarea></p>
<p><label for="id_former_spouse_name_2">Former Spouse Name:</label> <input type="text" name="former_spouse_name_2" maxlength="100" id="id_former_spouse_name_2"></p>
<p><label for="id_marriage_date_2">Marriage Date:</label> <input type="text" name="marriage_date_2" value="1970-01-01" id="id_marriage_date_2"></p>
<p><label for="id_date_of_death">Date of Death of former spouse:</label> <input type="text" name="date_of_death" value="1970-01-01" id="id_date_of_death"></p>
<p><label for="id_no_of_children_2">No. of children from this marriage (if any):</label> <input type="number" name="no_of_children_2" value="0" min="0" id="id_no_of_children_2"></p>
<p><label for="id_no_of_sons_2">No. of sons from this marriage (if any):</label> <input type="number" name="no_of_sons_2" value="0" min="0" id="id_no_of_sons_2"></p>
<p><label for="id_no_of_daughters_2">No. of daughters from this marriage (if any):</label> <input type="number" name="no_of_daughters_2" value="0" min="0" id="id_no_of_daughters_2"></p>
<p><label for="id_cause_of_death">Cause of death of former spouse (optional):</label> <textarea name="cause_of_death" cols="40" rows="10" id="id_cause_of_death"></textarea></p>
<p><label for="id_fathers_name">Father's Name:</label> <input type="text" name="fathers_name" maxlength="100" required="" id="id_fathers_name"></p>
<p><label for="id_mothers_name">Mother's Name:</label> <input type="text" name="mothers_name" maxlength="100" required="" id="id_mothers_name"></p>
<p><label for="id_siblings">Siblings (Brothers &amp; Sisters):</label> <input type="number" name="siblings" value="0" min="0" required="" id="id_siblings"></p>
<p><label for="id_brothers">Brothers:</label> <input type="number" name="brothers" value="0" min="0" required="" id="id_brothers"></p>
<p><label for="id_sisters">Sisters:</label> <input type="number" name="sisters" value="0" min="0" required="" id="id_sisters"></p>
<p><label for="id_values">Family Values:</label> <select name="values" id="id_values">
  <option value="Traditional" selected="">Traditional</option>

  <option value="Moderate">Moderate</option>

  <option value="Liberal">Liberal</option>

</select></p>
<p><label for="id_family_members">Family members residing at your Residence:</label> <input type="number" name="family_members" value="0" min="0" required="" id="id_family_members"></p>
<p><label for="id_about_family">More details about Family:</label> <textarea name="about_family" cols="40" rows="10" id="id_about_family"></textarea></p>
<p><label for="id_lower_age">Lower Age Bound:</label> <input type="number" name="lower_age" value="0" min="0" required="" id="id_lower_age"></p>
<p><label for="id_upper_age">Upper Age Bound:</label> <input type="number" name="upper_age" value="0" min="0" required="" id="id_upper_age"></p>
<p><label for="id_language">Language:</label> <input type="text" name="language" maxlength="50" required="" id="id_language"></p>
<p><label for="id_place_of_residence">Language:</label> <input type="text" name="place_of_residence" maxlength="100" required="" id="id_place_of_residence"></p>
<p><label for="id_education">Education:</label> <input type="text" name="education" maxlength="100" required="" id="id_education"></p>
<p><label for="id_employment">Employmnent:</label> <input type="text" name="employment" maxlength="100" required="" id="id_employment"></p>
<p><label for="id_salary">Salary:</label> <input type="number" name="salary" value="0.0" step="0.01" required="" id="id_salary"></p>
<p><label for="id_widowed">Widowed:</label> <select name="widowed" id="id_widowed">
  <option value="No" selected="">No</option>

  <option value="Yes">Yes</option>

</select></p>
<p><label for="id_community">Community:</label> <input type="text" name="community" maxlength="100" required="" id="id_community"></p>
<p><label for="id_family_values">Family Values / Background:</label> <select name="family_values" id="id_family_values">
  <option value="Traditional" selected="">Traditional</option>

  <option value="Moderate">Moderate</option>

  <option value="Liberal">Liberal</option>

</select></p>
<p><label for="id_passport_photo">Passport_photo:</label> <input type="file" name="passport_photo" id="id_passport_photo"></p>
<p><label for="id_family_photo">Family_photo:</label> <input type="file" name="family_photo" id="id_family_photo"></p>
<p><label for="id_your_photo_1">Your_photo_1:</label> <input type="file" name="your_photo_1" id="id_your_photo_1"></p>
<p><label for="id_your_photo_2">Your_photo_2:</label> <input type="file" name="your_photo_2" id="id_your_photo_2"></p>
<p><label for="id_your_photo_3">Your_photo_3:</label> <input type="file" name="your_photo_3" id="id_your_photo_3"></p>
</form>