{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Password Reset
{% endblock %}
{% block header %}
<style>
    .error-msg {
        color: red;
        font-size: small;
    }
</style>

{% endblock %}
{% block content %}
    {% if request.method == 'GET' %}
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="id_password1">Password</label>
                <input type="password" name="password1" id="id_password1" class="form-control">
                <label for="id_password2">Password Again</label>
                <input type="password" name="password2" id="id_password2" class="form-control">
                <input type="submit" id='submit' style="display: none;">
            </div>
        </form>
        <div>
            <button id='our-submit' class="btn btn-outline-info">SUBMIT</button>
        </div>
        <script>
            button = document.getElementById('our-submit');
            password1 = document.getElementById('id_password1');
            password2 = document.getElementById('id_password2');
            button.addEventListener('click', () => {
                if (password1.value.length > 0) {
                    if (password1.value === password2.value) {
                        document.getElementById('submit').click();
                    } else {
                        alert("Both the passwords don't match.");
                    }
                } else {
                    alert("Enter a password first.");
                }
            });
        </script>
    {% else %}
        Your password was successfully changed. You can login now.
        <a class="btn btn-outline-primary" href="{% url 'login' %}">LOGIN</a>
    {% endif %}
{% endblock %}