{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Password Reset
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    {% if request.method == 'GET' %}
        <form action="" method="POST">
            <div class="form-group">
                <label for="id_email">Email :</label>
                <input type="email" name="email" id="id_email" class="form-control" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-outline-info">SUBMIT</button>
        </form>
    {% else %}
        If this email exists in our database, a mail with instructions regarding password reset should have been sent to your email address.
        <br>Please check. If you don't find the mail, please check in the spam section.
    {% endif %}
{% endblock %}