{% extends 'main/base.html' %}

{% block title %}
Refund Policy
{% endblock %}

{% block header %}
<style>
    .inner-ordered-list>li {
        list-style-type: lower-alpha;
    }
    
    .outer-ordered-list>li {
        list-style-type: none;
    }
    
    .outer-ordered-list>li>h3 {
        color: rgb(88, 88, 255);
    }
    
    details {
        background-color: rgb(245, 131, 143);
        border-radius: 0.5rem;
    }
    
    summary {
        padding: 1rem;
        outline: none;
        font-weight: bold;
    }
    
    li {
        padding-right: 1rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="container" style="padding-bottom: 20px;">
    <h1 style="color: #dc3545;font-style:italic;text-decoration:underline;">Cancellation/Refund Policy</h1>    <br>
    <ul>
        <li>
            
            If your profile is rejected by us for non-compliance with our other policies, your money will be refunded to your payment account within 7 working days for the date of rejection from our side. Please note that “Rejection” from our side happens with background checks and certificate checks. We reserve the right to reject the application, without any explanation provided to you; however, in most cases, we will be able to inform you the reason for rejection.
            
        </li>
        <li>
            
            Once your profile is rejected, we will send you an email to notify you about the same. We will also notify you regarding your refund.
            
        </li>
        <li>
            
            Your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
            
        </li>
        <li>
            
            If you haven’t received a refund yet, first check your bank account again.
            
        </li>
        <li>
            
            Then contact your credit card company, it may take some time before your refund is officially posted.
            
        </li>
        <li>
            Next contact your bank. There is often some processing time before a refund is posted.
            
        </li>
        <li>
            If you’ve done all of this and you still have not received your refund yet, please contact us at fwcbangalore@gmail.com.
            
        </li>
        <li>
            Once your marriage is fixed with or without your services, we request you to inform us about the same, so that your profile can be marked as “settled.” There will be no refund of payment for settled cases.
            
        </li>
        <li>
            We will not refund you incase you decide not to use our services before the expiry of your subscription.
            
        </li>
    </ul>
</div>
{% endblock %}