#content {
    padding-top: 1rem;
}

footer li {
    float: left;
}
  
footer li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.footer-borders {
    border-right: 2px solid black;
}